{% extends 'base.html' %}
{% load static %}

{% block title %}
    Details Hashflix
{% endblock %}

{% block body %}
    <div class="py-20">
        <h1>Details: {{ object.title }}</h1>
        <p>{{ object }}</p>
        <p>{{ object.description }}</p>
        <img src="{{ object.icon.url }}">
        <h2>Episodes</h2>
        {% for episode in object.episodes.all %}
            <a href="{{ episode.video }}">
                <p>Episode {{ forloop.counter }}: {{ episode.title }}</p>
            </a>
        {% endfor %}
    </div>
    <div class="py-20">
        <h2>Related episodes</h2>
        {% for episode in related %}
            <p>
                <a href="{% url 'serie:details' serie.pk %}">
                    {{ serie.title }}
                </a>
            </p>
        {% endfor %}
    </div>
{% endblock %}