{% extends 'base.html' %}
{% load static %}

{% block title %}
    Homeseries Hashflix
{% endblock %}

{% block body %}
    <div class="py-20">
        <h1>Home Series Hash Flix</h1>
        {% for serie in object_list %}
            <hr>
                <a href="{% url 'serie:details' serie.pk %}">
                    <p>
                        {{ serie.title }}
                    </p>
                </a>
                <p> {{ serie.description }}</p>
                <img src="{{ serie.icon.url }}">
        {% endfor %}
    </div>
{% endblock %}